# We're Analysing Cab Drives in New york city

# Questions we'll like to attend to
1. Mean speed of all the rides
2. Number of rides taken in February
3. Number of rides where tip more than $50
4. Number of rides where drop was JFK airport

In [2]:
import numpy as np
import pandas as pd

In [3]:
file_path="C:/Users/LICT/Downloads/nyc_taxis.csv"
df = pd.read_csv(file_path)

print(df.head())

   pickup_year  pickup_month  pickup_day  pickup_dayofweek  pickup_time  \
0         2016             1           1                 5            0
1         2016             1           1                 5            0
2         2016             1           1                 5            0
3         2016             1           1                 5            0
4         2016             1           1                 5            0

   pickup_location_code  dropoff_location_code  trip_distance  trip_length  \
0                     2                      4          21.00         2037
1                     2                      1          16.29         1520
2                     2                      6          12.70         1462
3                     2                      6           8.70         1210
4                     2                      6           5.56          759

   fare_amount  fees_amount  tolls_amount  tip_amount  total_amount  \
0         52.0          0.8          5.54       11.65         69.99
1         45.0          1.3          0.00        8.00         54.30
2         36.5          1.3          0.00        0.00         37.80
3         26.0          1.3          0.00        5.46         32.76
4         17.5          1.3          0.00        0.00         18.80

   payment_type
0             1
1             1
2             2
3             1
4             2

In [4]:
taxi=file_path

In [5]:
df

,pickup_year,pickup_month,pickup_day,pickup_dayofweek,pickup_time,pickup_location_code,dropoff_location_code,trip_distance,trip_length,fare_amount,fees_amount,tolls_amount,tip_amount,total_amount,payment_type
0,2016,1,1,5,0,2,4,21.00,2037,52.0,0.8,5.54,11.65,69.99,1
1,2016,1,1,5,0,2,1,16.29,1520,45.0,1.3,0.00,8.00,54.30,1
2,2016,1,1,5,0,2,6,12.70,1462,36.5,1.3,0.00,0.00,37.80,2
3,2016,1,1,5,0,2,6,8.70,1210,26.0,1.3,0.00,5.46,32.76,1
4,2016,1,1,5,0,2,6,5.56,759,17.5,1.3,0.00,0.00,18.80,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89555,2016,6,30,4,5,3,4,9.50,1989,31.0,1.3,5.54,3.00,40.84,1
89556,2016,6,30,4,5,2,4,19.80,2368,52.0,0.8,5.54,0.00,58.34,1
89557,2016,6,30,4,5,2,4,17.48,2822,52.0,0.8,5.54,5.00,63.34,1
89558,2016,6,30,4,5,2,6,12.76,1083,34.5,1.3,0.00,8.95,44.75,1
89559,2016,6,30,4,5,2,0,17.54,1711,48.0,1.3,5.54,0.00,54.84,2

In [6]:
taxi = np.genfromtxt('nyc_taxis.csv', delimiter = ',',skip_header = True)

FileNotFoundError: nyc_taxis.csv not found.

In [8]:
#Now to calculate the speed of cars in miles/hrs...
speed = int(file_path[:,7]/ taxi[:,8]/3600)

TypeError: string indices must be integers, not 'tuple'

In [ ]:
taxi.df()